*~
/*
!/*/
!/.gitattributes
!/.gitignore
!/makefile
!/*.md
!/record.bat
!/playback.bat
!/record
!/playback
!/wolfmame.txt
!/ui.tcl
/cfg
/diff
/ini
/inp
/nvram
/obj
/snap
src/regtests/chdman/temp
src/regtests/jedutil/output
/sta
*.pyc
