*~
/*
!/*/
!/.gitattributes
!/.gitignore
!/.travis.yml
!/makefile
!/mame.doxygen 
!/*.md
!/record.bat
!/playback.bat
!/record
!/playback
!/wolfmame.txt
!/ui.tcl
/cfg
/diff
/ini
/inp
/nvram
/obj
/roms
/snap
src/regtests/chdman/temp
src/regtests/jedutil/output
/sta
*.pyc
/build
/documentation